src/main/mule/file-reader.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="file-writerSubFlow" doc:id="10f70933-6328-4a6a-8f61-faf0c708e568" >
		<ee:transform doc:name="Transform Message" doc:id="0157fc06-8a6f-4030-a3c0-7c677af37e39" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Properties: flatten(vars.totalProperties)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="write" doc:id="114c2c10-f541-4ae5-a948-ea6167202362" config-ref="File_Config" path='#["output.xlsx"]' >
			<file:content ><![CDATA[#[%dw 2.0 
output application/xlsx header=true
---
payload]]]></file:content>
		</file:write>
	</sub-flow>
	<flow name="folders-readerSubFlow" doc:id="089aff75-83e1-402b-9076-1601f063d7b4" >
		<set-variable value="#[[] as Array]" doc:name="Prepare var for all api properties result" doc:id="a307e4ce-3428-4f6f-a961-b38284955778" variableName="totalProperties" />
		<foreach doc:name="For Each" doc:id="55035f78-f72a-40d1-90b4-a459e8baabab" collection="#[p('projects.namelist') splitBy &quot;,&quot;]">
			<set-variable value='#[payload]' doc:name="Set api name" doc:id="e44fe169-cba2-4c99-bfcd-cb11c3d482e8" variableName="apiName" />
			<ee:transform doc:name="set file path" doc:id="d7f5890c-581f-4d60-9dc6-3df0e75759b5">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="filePath"><![CDATA[%dw 2.0
output application/json
---
payload ++ p('folder.path')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<set-variable value="#[[] as Array]" doc:name="Prepare var for property keys" doc:id="423e739d-1f1d-4ca3-9ffc-01122ac35257" variableName="propKeys" />
			<set-variable value="#[{} as Object]" doc:name="Prepare var for summary properties results" doc:id="4c74e1cf-35c1-4568-9723-c0ebd6c2ace5" variableName="sumResults" />
			<foreach doc:name="For Each" doc:id="d6b7d338-ffdc-47ba-80a5-6327ef33f7e0" collection="#[p('property.fileList') splitBy &quot;,&quot;]">
			<set-variable value="#[payload]" doc:name="Set fileName" doc:id="c246c4a6-569f-47b1-b815-3db5eae2801c" variableName="fileName"/>
				<choice doc:name="Choice" doc:id="ee3077aa-f652-41a9-bf30-33291f34ecac">
					<when expression="#[matches(vars.fileName, /^[a-z]+?\-[a-z]+?\.yaml/)]">
						<file:read doc:name="Read" doc:id="5312427d-ede2-4a42-8ccc-22415a6804ae" config-ref="File_Config" path='#[vars.filePath ++ vars.fileName]' outputMimeType="application/yaml" />
						<ee:transform doc:name="Convert yaml to json" doc:id="29147578-6f5c-4490-90dc-ccbabec48d21" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Get keys and values" doc:id="4cd6a038-1e81-44db-b889-bda2c5ad73a7" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::util::Tree
---
payload mapLeafValues () -> {
	key: $$.selector joinBy ".",
	value: $
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Save keys to var" doc:id="0fefa8c3-6817-46cd-bd39-9d5b7e1d8b8e">
									<ee:message />
									<ee:variables>
										<ee:set-variable variableName="propKeys"><![CDATA[%dw 2.0
output application/json
---
payload..key]]></ee:set-variable>
									</ee:variables>
								</ee:transform>
						<ee:transform doc:name="Prepare property output structure" doc:id="76b953e6-7b6c-433b-951a-c263d6a7d89b" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var fileName = vars.fileName replace /\-[a-z]+?\.yaml/ with ""
var values = payload..value
---
'$fileName': vars.propKeys map {
	key: $,
	value: values[$$]
}]]></ee:set-payload>
							</ee:message>
							<ee:variables />
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="fdfe2a8f-e0f2-4f14-884c-4ee8022297e7" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="sumResults" ><![CDATA[%dw 2.0
output application/json
---
vars.sumResults ++ payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
				</when>
			</choice>
		</foreach>
			<ee:transform doc:name="Prepare payload for writing to xlsx file" doc:id="10c12c4a-309b-4a34-b35f-03d6e21f6233">
					<ee:message>
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var propKeysAll = vars.sumResults..key distinctBy (value) -> {"unique" : value}
var descriptions = ((p('descriptions') splitBy ",") map{arr: $ splitBy " - "}).arr
---
propKeysAll map(key,index) -> {
	'api name': vars.apiName default "",
	'property full path': propKeysAll[index],
	'description': (flatten(descriptions filter($[0] == propKeysAll[index])))[1] default "",
	'local value': (vars.sumResults.local filter($.key == propKeysAll[index]))[0].value default "",
	'dev value': (vars.sumResults.dev filter($.key == propKeysAll[index]))[0].value default "",
	'qa value': (vars.sumResults.qa filter($.key == propKeysAll[index]))[0].value default "",
	'uat value': (vars.sumResults.uat filter($.key == propKeysAll[index]))[0].value default "",
	'prod value': (vars.sumResults.prod filter($.key == propKeysAll[index]))[0].value default "" 
}]]></ee:set-payload>
					</ee:message>
				<ee:variables >
				</ee:variables>
				</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="04cd5df6-6419-4ce9-9d94-be6d02c7378c" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var emptyRow = [{
		"api name": ""
},
{
		"api name": ""
}]
---
payload ++ emptyRow]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="e33104d7-4d92-4ba4-94aa-852ea758322c">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="totalProperties"><![CDATA[%dw 2.0
output application/json
---
vars.totalProperties + payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<flow-ref doc:name="file-writerSubFlow" doc:id="5bdf2000-ba9c-4dfb-8c4d-7e18befe9f1b" name="file-writerSubFlow"/>
	</flow>
</mule>
